## This file is part of Invenio.
## Copyright (C) 2012, 2013 CERN.
##
## Invenio is free software; you can redistribute it and/or
## modify it under the terms of the GNU General Public License as
## published by the Free Software Foundation; either version 2 of the
## License, or (at your option) any later version.
##
## Invenio is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.  
##
## You should have received a copy of the GNU General Public License
## along with Invenio; if not, write to the Free Software Foundation, Inc.,
## 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

[rank_method]
function = archived_content

[archived_content]

# The number of last added records to be indexed
# indexes all of them if the number is 0
latest_records_number = 0

# Which one will be considered: creation date or modification date
# Value of the date_type may be 'creation' or 'modification'
date_type = creation

# The start date and end date the indexing will be considered
# They may be the following formats
# YYYY-MM-DD
# YYYY-MM-DD hh:mm:ss
# or (blank) means there will be no restriction on date
start_date =
end_date =

# Time interval
# considers given interval if the 'interval' variable is not (blank)
# it consists an integer and one of the (HOUR, DAY, WEEK, MONTH, YEAR)
# Examples:
# 3 HOUR
# 1 WEEK
# 12 DAY
# 6 MONTH
# 2 YEAR
interval = 1 HOUR

# The number of records displayed on the portalbox
display_on_portalbox_count = 0

relevance_number_output_prologue = (
relevance_number_output_epilogue = )
