{% extends "page.html" %} {% from "webpayment_packages.html" import
webpayment_packages_body %} {% from "webpayment_packages.html" import
webpayment_packages_css %} {% from "webpayment_packages.html" import
webpayment_packages_javascript %} {% block css %} {{
webpayment_packages_css() }} {% endblock %} {% block javascript %} {{
webpayment_packages_javascript() }} {% endblock %} {% block body %}
<div class="page-header">
	<h1>{{_('Your Premium Memberships')}}</h1>
</div>
<fieldset>
	<legend>{{_('Your current premium membership status:')}}</legend>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>{{_('Collection')}}</th>
				<th>{{_('Status')}}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{%- for id_collection in user_memberships.keys()-%}
			<tr>
				<td>{{user_memberships[id_collection]['collection_name']}}</td>
				<td>{%- if user_memberships[id_collection]['has_purchased']-%}
					{%- if user_memberships[id_collection]['is_expired'] -%} {{_('Your
					membership is expired!')}} {%- elif
					str(user_memberships[id_collection]['expiration_date']) !=
					"9999-12-31 23:59:59" -%} {{_('Your membership will be expired
					in')}} {{user_memberships[id_collection]['expiration_date']}} {%-
					else -%} {{_('You have lifetime premium membership.')}} {%-endif-%}
					{%- else -%} {{_('You don\'t have any premium membership to
					display!')}} {%- endif -%}</td>
				<td><a
					href="{{url_for('webpayment.display', collection_id=id_collection)}}">{%-
						if user_memberships[id_collection]['has_purchased'] and
						str(user_memberships[id_collection]['expiration_date']) !=
						"9999-12-31 23:59:59" -%}{{_('Extend your membership!')}}{%-elif
						not user_memberships[id_collection]['has_purchased']-%}{{_('Buy a
						premium package')}}{%-endif-%}</a></td>
			</tr>
			{%- endfor -%}
		</tbody>
	</table>
	<legend>{{_('Available premium packages:')}}</legend>
	{{ webpayment_packages_body(premium_packages, payment_methods,
	package_collection_map, duration_formatter, _) }}
</fieldset>
{% endblock %}
